:root {
  --primary-txt-color: #ffffff;
  --secondary-txt-color: #ffffff;
  --tertiary-txt-color: #ffffff;
  --primary-bg-color: rgb(20, 20, 20);
  --secondary-bg-color: rgb(40, 40, 40);
  --tertiary-bg-color: rgb(60, 60, 60);
  --quaternary-bg-color: rgb(80, 80, 80);
}

* {
  font-size: 18px;
}

.color-bg-primary {
  background-color: var(--primary-bg-color);
}
.color-bg-secondary {
  background-color: var(--secondary-bg-color);
}
.color-bg-tertiary {
  background-color: var(--tertiary-bg-color);
}
.color-bg-quaternary {
  background-color: var(--quaternary-bg-color);
}


body {
  color: var(--primary-txt-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.spotlight {
  text-align: center;
  /* background-color: transparent; */
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  min-height: 80px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid var(--primary-bg-color);
}

.hour {
  background-color: var(--secondary-bg-color);
  color: var(--primary-txt-color);
  border-top: 1px dashed var(--primary-bg-color);
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid var(--primary-bg-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--tertiary-bg-color);
  color: white;
}

.saveBtn i {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 1.5rem;
}
.saveBtn i:hover {
  font-size: 2rem;
  transition: all .3s ease-in-out;
}

 /* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) {
  * {
    font-size: 12px;
  }
}

 /* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
  * {
    font-size: 12px;
  }
}

 /* Large devices (desktops, 992px and below) */
@media (max-width: 992px) {
  * {
    font-size: 14px;
  }
}

 /* X-Large devices (large desktops, 1200px and below) */
@media (max-width: 1200px) {

  * {
    font-size: 16px;
  }
}

 /* XX-Large devices (larger desktops, 1400px and below) */
@media (max-width: 1400px) {

}